    
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

header{
    display: flex;
    gap: 21px;
    font-family: "Inter", sans-serif; 
    
    
}
header a{
    display: flex;
    align-items: center;
    width: 120px;
    text-decoration: none
}

h1{

    color: black;
}
#serch{
     padding-top:1px;
     font-size: 35px;
    color: black;
     
}
#bu{
    
    height: 35px;
    width: 120px;
    padding:2px 10px 10px 10px;
    margin-top: 21px;
     
    color:white;
    background-color:rgba(3, 75, 255, 1);
    border-radius: 5px;

}
main section{
    display: flex;
    background-color: black;
    
}
div h1{
    font-size: 90px;
    margin: 0px;
    padding-left: 50px;

}
#mot1{
    color: aliceblue;
}
#mot2{
    color: blue;
}
div h4{
    font-size:20px;
    margin-top: 0px;
    padding-left:50px ;
    color: aliceblue;
}

div p{
    padding-left: 50px;
    color: aliceblue;
}
div button{
    margin-left: 50px;
    height: 40px;
    width: 200px;
    border-radius: 7px;
    color: aliceblue;
    
}
#but2{
    background-color: blue;
    border-color: blue;
    
}
#but3{
    background-color: black;
    border-color: blue;
    
}
